<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.yahier.demo.mapper.CustomerMapper">

    <select id="findAll" resultType="Map">
        select firstName,lastName from customer
    </select>

</mapper>
