<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<!-- namespace必须指向Repository接口 -->
<mapper namespace="com.yahier.demo.mapper.CustomerMapper">

    <select id="findAll" resultType="Map">
        select id,firstName as name from customer
    </select>

    <select id="searchList" resultType="map">
        select id,firstName from customer
        <if test="keyword!=null and keyword!=''">
            where firstName like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>
